# Node.js dependencies
node_modules/

# Environment variables (secret keys, passwords)
.env

# SQLite database file (local only, not needed on GitHub)
mydb.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
